html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  height: 190vh;
  padding: 3rem 0 0 0;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.5px, #f1f1f1  0.5px);
  background-size: 25px 25px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.nina {
  flex-direction: row;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}


.intro-text,
.app-text {
  text-align: center;
  width: 30vw;
  font-size: 1.5rem;
}



.app-text span {
  font-weight: 700;
}

.music-sheet_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.music-sheet_header a {
  text-decoration: none;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.music-sheet_header a:hover {
  text-decoration: underline;
}

.color-values {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}

.color-values li {
  list-style: none;
  display: flex;
  gap: 0.25rem;
}
